{% import 'static/_constants.njk' as constants %}
{% set mainNavAClass = "block p-1 lg:pt-3 lg:pb-3 hover:underline" %}
{% set footerNavAClass = "block p-1 lg:pt-3 lg:pb-3 hover:underline" %}

// TODO search
// TODO social media links in header and footer

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/global.css" />
  <title>{{ title }} | {{constants.SITE_NAME}}</title>
</head>
<body class="4xl:mx-96">
  <div class="flex flex-col min-h-screen text-gray-600 bg-background 3xl:container 3xl:mx-auto">
    <header class="m-4 sm:m-8 grid p-2 border-solid border-2 border-t-0 border-r-0 border-l-0 border-gray-300 items-center">
        <section class="col-span-11 xl:col-span-1">
            <h1>{{constants.SITE_NAME}}</h1>
        </section>
        <div class="grid col-span-12 lg:grid lg:col-start-2 lg:col-span-11"}>
          <div class="col-span-12 lg:col-span-10">
            <nav class="leading-5 uppercase">
              <ul class="lg:flex lg:flex-wrap">
                  <li><a href="/" class="{{mainNavAClass}}">Home</a></li>
                  <li><a href="/offers/offergroup1" class="{{mainNavAClass}}">Offergroup 1</a></li>
                  <li><a href="/offers/offergroup2" class="{{mainNavAClass}}">Offergroup 2</a></li>
                  <li class="group"><a href="/blog" class="block p-1 lg:pt-3 lg:pb-3 hover:underline group-hover:underline">Blog</a>
                      <ul class="ml-3 lg:p-3 lg:hidden lg:group-hover:inline-block lg:fixed lg:-mt-2 lg:-ml-3 lg:bg-white lg:border lg:border-gray-200 lg:border-2 lg:border-t-0 lg:border-r-0 lg:shadow-lg lg:rounded-lg lg:rounded-tl-none md:rounded-tr-none">
                          <li class="p-1"><a href="/blog/news" class="block hover:underline">News</a></li>
                          <li class="p-1"><a href="/blog/subcategory1" class="block hover:underline">Subcategory 1</a></li>
                      </ul>
                  </li>
                  <li><a href="/team" class="{{mainNavAClass}}">Team</a></li>
                  <li><a href="/faq" class="{{mainNavAClass}}">Faq</a></li>
                  <li><a href="/legal" class="{{mainNavAClass}}">Rechtliches</a></li>
              </ul>
            </nav>
          </div>
        </div>
    </header>
    <main class="flex-grow m-4 sm:m-8">
      {{ content | safe }}
    </main>
    <footer class="m-4 sm:m-8 grid p-2 border-solid border-2 border-b-0 border-r-0 border-l-0 border-gray-300">
      <p class="col-span-12 md:col-span-1">© {{constants.COMPANY_NAME}} 2021</p>
      <div class="mt-2 mb-2 col-span-12 md:mt-0 md:mb-0 md:col-start-8 md:col-span-4">
        <nav>
          <ul class="md:flex md:flex-wrap md:justify-end md:mr-4">
              <li><a href="/faq" class="{{footerNavAClass}}">FAQ</a></li>
              <li><a href="/legal/content/terms-and-conditions" class="{{footerNavAClass}}">AGB</a></li>
              <li><a href="/legal/content/imprint" class="{{footerNavAClass}}">IMPRESSUM</a></li>
              <li><a href="/legal/content/privacy" class="{{footerNavAClass}}">DATENSCHUTZ</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-span-12 md:col-start-12 md:col-span-1">
      </div>
    </footer>
  </div>
</body>
</html>