{% for member in collections.team %}
    <article class="rounded-lg transform hover:scale-103 duration-300 motion-reduce:transform-none bg-white shadow-lg overflow-hidden mb-8 md:w-2-cards-in-row xl:w-4-cards-in-row">
        {% if member.data.thumbnail %}
            <img src="{{member.url}}{{member.data.thumbnail}}" layout="responsive" width="200" height="200" alt="Thumbnail for {{member.data.title}}"/>
        {% endif %}
        <div class="p-5">
            <a href={{member.url}} class="block mb-2 border-gray-100 border-b-2 break-all hover:underline"><h3 class="block">{{member.data.title}} </h3></a>
            <p>{{member.data.excerpt}}</p>
        </div>
    </article>
{% endfor %}